html,
body {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  height: 100%;
}
h1 {
  color: #555;
  font-family: 'Copse', serif;
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: -1px -1px 1px black;
}
h2 {
  color: #555;
  cursor: pointer;
  font-family: 'Copse', serif;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: -1px -1px 1px black;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
h2:hover {
  color: #777;
}
div.spacer {
  display: block;
  height: 50%;
}
div.container {
  position: relative;
}
