---
layout: default
---
<div class="post clearfix">
  <h2>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h2>
  <div class="body">
    {{ page.content }}
  </div>
  <div class="share">
    <a href="http://twitter.com/neardigital" class="twitter-follow-button" data-show-count="false">Follow @neardigital</a>
  </div>
  <div class="date">
    published on {{ page.date | date_to_string }} by {{ page.author }}
  </div>
</div>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>