---
layout: default
---
<div class="post clearfix">
  <h2>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h2>
  <div class="body">
    {{ page.content }}
  </div>
  <div class="share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="horizontal" data-via="NearDigital">Tweet</a>
  </div>
  <div class="date">
    published on {{ page.date | date_to_string }} by {{ page.author }}
  </div>
</div>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>